$btn: #ff6838;
$title: #363853;
$subtitle: #31352b;
$primary-color: #f9faff;

%light-300 {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}

%medium-500 {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

%regular-400 {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}
