@import "reset";
@import "fonts";
@import "vars";
@import "libs";
@import "mixin";
@import "global";

.header {
  padding-top: 159px;

  @include mq("tablet-2") {
    padding-top: 86px;
  }

  &__inner {
    position: fixed;
    padding: 60px 0;
    top: 0;
    right: 0;
    left: 0;

    &--fixed {
      padding: 15px 15px;
      background-color: $primary-color;
      box-shadow: 10px 10px 84px -6px rgba(0, 0, 0, 0.7);
      z-index: 11;
      transition: padding 0.3s;
    }

    @include mq("tablet-2") {
      padding: 15px 0;
    }
  }

  &__nav {
    @extend %flex;
    width: 100%;
  }

  &__user {
    @include mq("tablet-2") {
      margin-left: auto;
      margin-right: 14px;
    }
  }

  &__menu {
    margin-left: auto;
    margin-right: 52px;

    @include mq("tablet-2") {
      display: none;
    }
  }
}

.logo {
  border-radius: 5px;
  transition: opacity 0.3s, box-shadow 0.3s;
  object-fit: cover;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    box-shadow: 0 0 0 2px $shadow;
  }

  &:active {
    opacity: 0.5;
  }

  @include mq("tablet-2") {
    z-index: 3;
  }

  @include mq("phone") {
    width: 115px;
    height: 23px;
  }
}

.menu {
  @extend %flex;

  &__item {
    color: $subtitle;
    font-size: 18px;

    &:not(:last-child) {
      margin-right: 45px;
    }
  }

  &__link {
    &--active {
      color: $btn;
    }
  }

  &__svg {
    @include mq("tablet-2") {
      top: 20px;
    }
  }
}

.user-nav {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__btn {
    @extend %flex;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    background-color: transparent;
    &:hover {
      svg {
        stroke: $text-color;
      }
    }

    &:hover .user-nav__btn-num {
      background-color: $text-color;
      color: $btn;
    }
  }

  &__svg {
    fill: none;
    stroke: $title;
    stroke-width: 1.5;
    width: 20px;
    height: 20px;
    transition: stroke 0.3s;
  }

  &__btn-num {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    background-color: $btn;
    color: $text-color;
    font-size: 10px;
    border-radius: 50px;
    padding: 0 4px;
    transition: color 0.3s, background-color 0.3s;

    @include mq("phone") {
      top: 8px;
      right: 0;
    }
  }
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 75px);
  height: 100vh;
  padding: 10px 15px 0;
  overflow-y: auto;
  background-color: $text-color;
  transform: translateX(-200%);
  transition: transform 0.3s ease-out;

  &--active {
    transform: translateX(0);
  }

  &__inner {
    position: relative;
    width: 100%;
    padding: 15px 0;
    border-bottom: 2px solid rgba(194, 194, 194, 0.2);

    @include mq("phone") {
      padding: 15px 55px 15px 0;
    }
  }

  .menu {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 22px 0;
    border-bottom: 2px solid rgba(194, 194, 194, 0.2);
  }

  .menu__item {
    width: 100%;
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .menu__link {
    display: block;
    padding: 9px 0 7px;
  }

  .contact-blok__inner {
    width: 100%;
    margin-bottom: 9px;

    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .contact-blok__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .contact-blok__link {
    padding: 6px 0 8px;
  }
}

.burger-open {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  z-index: 2;

  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 69%;
    left: 5px;
    background-color: $subtitle;
  }

  &::before {
    top: 12px;
  }

  &::after {
    bottom: 13px;
  }

  &__bar {
    position: absolute;
    height: 2px;
    width: 69%;
    left: 5px;
    top: 21px;
    background-color: $subtitle;
  }

  @include mq("tablet-2") {
    display: block;
    z-index: 3;
    order: 2;
  }
}

.burger-close {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 4;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;

    @include mq("phone") {
      left: 9px;
      width: 64%;
    }
  }

  &::before {
    transform: rotate(45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::after {
    transform: rotate(-45deg);
    top: 50%;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }
}

.hero {
  &__inner {
    @extend %flex;
    padding-bottom: 120px;

    @include mq("tablet-2") {
      width: 100%;
      height: 550px;
      position: relative;
      z-index: 1;
      padding-bottom: 92px;
    }

    @include mq("tablet") {
      height: 445px;
    }

    @include mq("phone") {
      padding-bottom: 65px;
      height: 340px;
    }
  }

  &__text {
    max-width: 450px;
    width: 100%;
    margin-right: 160px;

    @include mq("desktop") {
      margin-right: 45px;
    }

    @include mq("tablet-2") {
      margin-right: 0;
      width: 400px;
    }

    @include mq("tablet") {
    }

    @include mq("phone") {
      width: 345px;
    }
  }

  &__subtitle {
    font-weight: 500;
    line-height: 1.3;
    font-size: 66px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @include line-clamp(2);

    @include mq("tablet-2") {
      font-size: 48px;
      width: 400px;
    }

    @include mq("phone") {
      font-size: 40px;
      width: 257px;
    }
  }

  &__color {
    color: $btn;
  }

  &__slogan {
    margin-bottom: 20px;
    color: $subtitle;
    @include line-clamp(4);

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__link-btn {
    padding: 12px 32px;
    border-radius: 6px;
    background-color: $btn;
    color: $text-color;
    margin-right: 24px;

    @include mq("phone") {
      padding: 8px 24px;
      margin-right: 30px;
      font-size: 14px;
    }
  }

  &__link {
    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__img {
    @extend %back;
    background-position: right;
    max-width: 550px;
    width: 100%;
    height: 660px;

    @include mq("desktop") {
      width: 490px;
      height: 550px;
    }

    @include mq("tablet-2") {
      position: absolute;
      top: 0;
      right: 0;
      width: 405px;
      height: 480px;
      z-index: -1;
    }

    @include mq("tablet") {
      opacity: 0.4;
      width: 318px;
      height: 360px;
    }

    @include mq("phone") {
      width: 254px;
      height: 300px;
      opacity: 0.2;
    }
  }
}

.popular-category {
  text-align: center;

  &__title {
    margin-bottom: 60px;
    @include line-clamp(1);

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__menu {
    display: flex;
    margin-bottom: 30px;
    overflow-x: auto;
    padding: 3px 3px 7px;

    @include mq("phone") {
      margin-bottom: 15px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 20px;

    @include mq("phone") {
      margin-right: 10px;
      margin-bottom: 9px;
    }
  }

  &__btn {
    @extend %align;
    font-size: 20px;
    color: $title;
    background-color: $text-color;
    box-shadow: 0 0 0 1px #ececec;
    border-radius: 5px;
    white-space: nowrap;

    &:hover {
      background-color: $bag-color;
      box-shadow: 0 0 0 2px $shadow;
      color: $btn;

      svg {
        fill: $btn;
      }
    }

    &:focus {
      background-color: $text-color;
      box-shadow: 0 0 0 2px $shadow;
      color: $title;

      svg {
        fill: $title;
      }
    }

    &:active {
      background-color: $text-color;
      box-shadow: 0 -5px 12px 0 rgba(255, 104, 56, 0.2) inset;
      color: $title;

      svg {
        fill: $title;
      }
    }

    &.mixitup-control-active {
      background-color: $btn;
      color: $text-color;
      box-shadow: 0;
      svg {
        fill: $text-color;
      }
    }

    @include mq("phone") {
      font-size: 14px;
      padding: 11px 16px;
    }
  }

  &__svg {
    fill: $title;
    width: 44px;
    height: 44px;
    margin-right: 9px;
    transform: fill 0.3s;

    @include mq("phone") {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }

  &__list {
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 60px;

    @include mq("desktop") {
      grid-template-columns: repeat(4, auto);
      gap: 15px 5;
    }

    @include mq("tablet-2") {
      grid-template-columns: repeat(3, auto);
    }

    @include mq("phone") {
      grid-template-columns: repeat(2, auto);
      gap: 10px 5px;
      padding-bottom: 38px;
    }
  }

  &__box {
    @include mq("desktop") {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    @include mq("phone") {
      height: 298px;
    }
  }
}

.product-card {
  @extend %flex;
  flex-direction: column;
  padding: 15px 15px;
  max-width: 210px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: $text-color;
  box-shadow: 0 0 0 1px #ececec;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 0 1px $btn;
  }

  &__img {
    max-width: 140px;
    width: 100%;
    height: 140px;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 15px;
    @include line-clamp(2);
  }

  &__price {
    margin-bottom: 10px;
    margin-top: auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    @include line-clamp(1);
  }

  &__btn {
    padding: 7px 16px;
    font-size: 14px;
  }
}

.stay-home {
  &__inner {
    @extend %align;
    justify-content: space-around;
    padding: 120px 69px;

    @include mq("desktop") {
      justify-content: end;
      position: relative;
      padding: 90px 69px;
    }

    @include mq("phone") {
      padding: 65px 0;
    }
  }

  &__photo {
    @extend %back;
    background-position: left;
    width: 440px;
    height: 585px;
    margin-right: 120px;

    @include mq("desktop") {
      width: 383px;
      height: 523px;
      position: absolute;
      top: 50px;
      left: 30px;
      z-index: -1;
      margin-right: 0;
    }

    @include mq("tablet-2") {
      opacity: 0.3;
    }

    @include mq("phone") {
      width: 285px;
      height: 395px;
      left: 15px;
      right: 15px;
    }
  }

  &__delivery {
    max-width: 470px;
    width: 100%;
  }

  &__title {
    margin-bottom: 30px;
    @include line-clamp(2);
  }

  &__slogan {
    color: $subtitle;
    margin-bottom: 30px;
    @include line-clamp(5);

    @include mq("phone") {
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include mq("phone") {
      margin-bottom: 23px;
    }
  }

  &__item {
    @extend %align;
    font-size: 24px;
    @include line-clamp(1);

    &:not(:last-child) {
      margin-bottom: 22px;

      @include mq("phone") {
        margin-bottom: 15px;
      }
    }
  }

  &__svg {
    @extend %back;
    display: block;
    width: 34px;
    height: 34px;
    margin-right: 30px;

    &--watch {
      background-image: url("../images/sprite.svg#stopwatch");
      filter: invert(60%) sepia(75%) saturate(4119%) hue-rotate(337deg)
        brightness(103%) contrast(101%);
    }

    &--delivery {
      background-image: url("../images/sprite.svg#delivery");
      filter: invert(54%) sepia(44%) saturate(4114%) hue-rotate(171deg)
        brightness(99%) contrast(108%);
    }

    &--shop {
      background-image: url("../images/sprite.svg#shop");
      filter: invert(35%) sepia(99%) saturate(6175%) hue-rotate(350deg)
        brightness(101%) contrast(103%);
    }

    @include mq("phone") {
      margin-right: 10px;
    }
  }

  &__text {
    @include line-clamp(2);
    @include mq("phone") {
      font-size: 18px;
    }
  }

  &__link {
    @include mq("phone") {
      font-size: 14px;
    }
  }
}

.best-cafe {
  &__inner {
    padding-bottom: 120px;

    @include mq("tablet") {
      padding-bottom: 26px;
    }
  }

  &__title {
    width: fit-content;
    margin: 0 auto 45px;
    @include line-clamp(1);

    @include mq("phone") {
      margin: 0 auto 30px;
    }
  }

  &__menu {
    @include mq("tablet-2") {
      grid-template-columns: repeat(2, auto);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq("tablet") {
      padding-bottom: 30px;
    }
  }

  &__swiper {
    @include mq("tablet") {
      overflow: hidden;
    }
  }

  &__swiper .swiper-wrapper {
    @include mq("tablet") {
      display: flex;
      column-gap: 0;
    }
  }

  &__dots {
    @include mq("tablet") {
      position: relative;
      width: 100%;
      height: 30px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $btn;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;

    &:hover {
      background-color: $slide-color;
      box-shadow: 0 0 0 2px $shadow;
    }

    &:focus {
      box-shadow: 0 0 0 2px $btn;
    }

    &:active {
      background-color: $swiper-color;
    }
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }
}

.card-cafe {
  max-width: 370px;
  width: 100%;
  border-radius: 10px;
  background-color: $text-color;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 3px 15px 0 rgba(255, 104, 56, 0.5);
  }

  &__box {
    padding: 15px 20px 20px;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.3;
    columns: $subtitle;
    margin-bottom: 20px;
    @include line-clamp(1);
  }

  &__box-time {
    position: relative;
    @extend %flex;

    &::before {
      @include pseudo;
      @extend %back;
      background-image: url("../images/sprite.svg#timer");
      width: 22px;
      height: 22px;
    }
  }

  &__time {
    font-size: 18px;
    font-weight: 300;
    @include line-clamp(1);
    padding-left: 30px;
  }

  &__img {
    border-radius: 10px 10px 0 0;

    @include mq("phone") {
      width: 345px;
      height: 300px;
    }
  }

  &__link {
    position: relative;
    padding: 16px 39px;
    border-radius: 20px;

    &:hover {
      svg {
        fill: $btn;
        transform: translateX(0);
      }
    }

    &:focus {
      svg {
        fill: $btn;
      }
    }

    &:active {
      svg {
        fill: $btn;
      }
    }
  }

  &__svg {
    fill: $text-color;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 4px;
    transform: translateX(-50%);
    transition: fill 0.3s, transform 0.3s;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }
}

.customer-reviews {
  &__inner {
    padding: 0 90px 123px;

    @include mq("tablet-2") {
      padding: 0 40px 93px;
    }

    @include mq("phone") {
      padding: 0 6px 40px;
    }
  }

  &__title {
    width: fit-content;
    margin: 0 auto 45px;
    @include line-clamp(1);

    @include mq("phone") {
      margin-bottom: 30px;
    }
  }

  &__swiper {
    width: 100%;
    overflow: hidden;
  }

  &__slide {
    display: flex;
    align-items: center;
    padding-bottom: 48px;

    @include mq("desktop") {
      flex-direction: column;
    }

    @include mq("phone") {
      position: relative;
      padding-bottom: 0;
    }
  }

  &__img {
    border-radius: 50%;
    margin-right: 40px;

    @include mq("desktop") {
      margin-right: 0;
      margin-bottom: 29px;
    }

    @include mq("tablet") {
      width: 200px;
      height: 200px;
    }

    @include mq("phone") {
      width: 100px;
      height: 100px;
      margin-bottom: 18px;
    }
  }

  &__figure {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;

    @include mq("desktop") {
      width: 75%;
      margin-right: 0;
    }
  }

  &__blockquote {
    @extend %italic-400;
    font-style: italic;
    max-width: 570px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    color: $subtitle;
    padding: 0 40px;
    @include line-clamp(10);
    z-index: 0;

    &::before,
    &::after {
      @include pseudo;
      @extend %back;
      background-image: url("../images/sprite.svg#quotes");
      width: 24px;
      height: 20px;
      filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(153deg)
        brightness(87%) contrast(84%);
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      right: 0;
      transform: scaleX(-1);
    }

    @include mq("phone") {
      font-size: 14px;
      margin-bottom: 20px;
      padding: 10px 32px 0;
    }
  }

  &__slogan {
    max-width: 570px;
    width: 100%;
    text-align: left;
    color: $subtitle;
    font-size: 14px;
    line-height: 1.3;
    @include line-clamp(1);
  }

  &__name {
    display: block;
    color: $btn;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 15px;
    @include line-clamp(1);
  }

  &__arrow {
    @extend %flex;
    position: relative;
    max-width: 219px;
    width: 100%;
    z-index: 0;

    @include mq("phone") {
      position: absolute;
      max-width: 275px;
      width: 100%;
      z-index: 3;
    }
  }

  &__dots {
    @include mq("phone") {
      display: none;
    }
  }

  &__btn-next,
  &__btn-prev {
    width: 40px;
    height: 40px;
    border: 3px solid $border-color;
    border-radius: 34px;
    padding: 5px;
    background-color: transparent;

    &:hover {
      background-color: $slide-color;
      border-color: $swiper-color;

      svg {
        fill: $swiper-color;
      }
    }
    &:focus {
      background-color: transparent;
      border-color: $swiper-color;
    }
    &:active {
      background-color: $slide-color;
      border-color: transparent;

      svg {
        fill: $interactive;
      }
    }

    @include mq("phone") {
      transform: translateY(70%);
      left: 0;
    }
  }

  &__svg {
    fill: $border-color;
    width: 11px;
    height: 19px;
    transition: fill 0.3s;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 130px;
    bottom: var(--swiper-pagination-bottom, 4px);
    left: 45px;
  }

  .swiper-button-disabled {
    border-color: $btn;
    svg {
      fill: $btn;
    }
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;

    &:hover {
      background-color: $slide-color;
      box-shadow: 0 0 0 2px $shadow;
    }

    &:focus {
      box-shadow: 0 0 0 2px $btn;
    }

    &:active {
      background-color: $swiper-color;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $btn;
  }

  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 8px);
  }
}

.download-mobile {
  &__box {
    @extend %flex;
    padding-bottom: 120px;

    @include mq("desktop") {
      position: relative;
      height: 500px;
    }
    @include mq("tablet-2") {
      height: 430px;
      padding-bottom: 80px;
    }

    @include mq("phone") {
      padding-bottom: 47px;
      height: 100%;
    }
  }

  &__inner {
    max-width: 538px;
    width: 100%;
    margin-right: 62px;

    @include mq("desktop") {
      margin-right: 40px;
      width: 450px;
    }

    @include mq("phone") {
      margin-right: 0;
      width: 100%;
      height: 195px;
    }
  }

  &__title {
    margin-bottom: 45px;
    @include line-clamp(2);

    @include mq("phone") {
      margin-bottom: 15px;
    }
  }

  &__text {
    color: $subtitle;
    margin-bottom: 30px;
    @include line-clamp(3);

    @include mq("phone") {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__item {
    display: flex;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__photo {
    @extend %back;
    width: 570px;
    height: 380px;

    @include mq("tablet-2") {
      width: 500px;
      height: 305px;
      position: absolute;
      top: 20px;
      right: 0;
      z-index: -1;
      opacity: 0.5;
    }

    @include mq("tablet") {
      opacity: 0.2;
    }

    @include mq("phone") {
      width: 100%;
      height: 150px;
      top: 46px;
    }
  }
}

.footer {
  &__box {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-bottom: 50px;

    @include mq("desktop") {
      grid-template-columns: repeat(2, auto);
      gap: 30px;
    }

    @include mq("tablet-2") {
      grid-template-columns: 50% 1fr;
    }

    @include mq("phone") {
      grid-template-columns: repeat(1, auto);
      gap: 20px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 40px 43px 44px;

    @include mq("desktop") {
      padding: 0 120px;
    }

    @include mq("tablet-2") {
      order: 3;
    }

    @include mq("tablet") {
      padding: 0;
    }

    @include mq("phone") {
      grid-template-columns: repeat(1, auto);
      order: 2;
    }
  }

  &__item {
    color: $subtitle;
    font-size: 18px;
    line-height: 1.3;
    margin-right: 45px;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @include mq("phone") {
      margin-right: 0;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    @include mq("phone") {
      display: block;
      padding: 10px 0;
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;

    @include mq("phone") {
      width: 200px;
      height: 39px;
      margin-bottom: 21px;
    }
  }

  &__bottom {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid rgba(194, 194, 194, 0.3);
  }

  &__text {
    color: $subtitle;
    font-size: 14px;
    line-height: 1;
    @include line-clamp(1);
  }
}

.form-subscribe {
  max-width: 200px;
  width: 200px;

  &__input {
    max-width: 200px;
    width: 100%;
    padding: 13px 15px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 1.3;
    border: 1px solid $border-color;
    border-radius: 5px;
    transition: border 0.3s, outline 0.3s;

    &::placeholder {
      color: $border-color;
      transition: color 0.3s;
    }

    &:hover::placeholder {
      color: $title;
    }

    &:focus {
      border: 1px solid rgba(194, 194, 194, 0);
      outline: 2px solid #ff6838;
    }
  }

  &__btn {
    @extend %align;
    width: 100%;
    padding: 14px 39px;
    font-size: 14px;
    border-radius: 5px;

    &:hover,
    &:focus,
    &:active {
      svg {
        fill: $btn;
      }
    }
  }

  &__svg {
    fill: none;
    fill: $text-color;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    transition: stroke 0.3s;
  }
}

.contact-blok {
  @include mq("phone") {
    order: 1;
  }

  &__inner {
    margin-bottom: 15px;
  }

  &__item {
    font-size: 16px;
    line-height: 2;
    color: $subtitle;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @include mq("phone") {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    @extend %align;
    padding: 9px 2px 5px 0;
    &:hover {
      svg {
        stroke: $btn;
      }
    }
  }

  &__svg {
    fill: none;
    stroke: $title;
    width: 20px;
    height: 20px;
    margin-right: 7px;
    transition: stroke 0.3s;
  }
}

.social-contacts {
  display: flex;
  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-right: 13px;
    }

    @include mq("tablet-2") {
      order: 2;
    }
  }

  &__link {
    @extend %j-center;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #ececec;

    &:hover {
      svg {
        fill: $text-color;
      }
    }

    &:focus {
      svg {
        fill: $subtitle;
      }
    }

    &:active {
      svg {
        fill: $btn;
      }
    }
  }

  &__svg {
    fill: $subtitle;
    width: 21px;
    height: 21px;
    transition: fill 0.3s;
  }
}
