<section class="best-cafe">
    <div class="container">
        <div class="best-cafe__inner">
            <h2 class="best-cafe__title title">Лучшие рестораны</h2>
            <div class="best-cafe__swiper swiper-container">
                <ul class="best-cafe__menu d-grid swiper-wrapper">
                    <li class="best-cafe__item swiper-slide ">
                        <article class="card-cafe ">
                            <img class="card-cafe__img" src="images/burger.card/cafe1.jpg" width="370" height="300"
                                alt="Blaze Pizza">
                            <div class="card-cafe__box">
                                <h3 class="card-cafe__subtitle card-cafe__subtitle--margin">Blaze Pizza</h3>
                                <div class="card-cafe__box-time">
                                    <span class="card-cafe__time">11:00 - 22:00</span>
                                    <a class="card-cafe__link button" href="#">
                                        <svg class="card-cafe__svg">
                                            <use xlink:href="images/sprite.svg#small-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="best-cafe__item swiper-slide">
                        <article class="card-cafe ">
                            <img class="card-cafe__img" src="images/burger.card/cafe2.jpg" width="370" height="300"
                                alt="Pizza Runcho">
                            <div class="card-cafe__box">
                                <h3 class="card-cafe__subtitle card-cafe__subtitle--margin">Pizza Runcho</h3>
                                <div class="card-cafe__box-time">
                                    <span class="card-cafe__time">12:00 - 21:00</span>
                                    <a class="card-cafe__link button" href="#">
                                        <svg class="card-cafe__svg">
                                            <use xlink:href="images/sprite.svg#small-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="best-cafe__item swiper-slide">
                        <article class="card-cafe">
                            <img class="card-cafe__img" src="images/burger.card/cafe3.jpg" width="370" height="300"
                                alt="Pizza Hut">
                            <div class="card-cafe__box">
                                <h3 class="card-cafe__subtitle card-cafe__subtitle--margin">Pizza Hut</h3>
                                <div class="card-cafe__box-time">
                                    <span class="card-cafe__time">11:00 - 22:00</span>
                                    <a class="card-cafe__link button" href="#">
                                        <svg class="card-cafe__svg">
                                            <use xlink:href="images/sprite.svg#small-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="best-cafe__item swiper-slide">
                        <article class="card-cafe ">
                            <img class="card-cafe__img" src="images/burger.card/cafe4.jpg" width="370" height="300"
                                alt="McDonald`s">
                            <div class="card-cafe__box">
                                <h3 class="card-cafe__subtitle card-cafe__subtitle--margin">McDonald`s</h3>
                                <div class="card-cafe__box-time">
                                    <span class="card-cafe__time">06:00 - 23:00</span>
                                    <a class="card-cafe__link button" href="#">
                                        <svg class="card-cafe__svg">
                                            <use xlink:href="images/sprite.svg#small-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="best-cafe__item swiper-slide">
                        <article class="card-cafe ">
                            <img class="card-cafe__img" src="images/burger.card/cafe5.jpg" width="370" height="300"
                                alt="KFC">
                            <div class="card-cafe__box">
                                <h3 class="card-cafe__subtitle card-cafe__subtitle--margin">KFC</h3>
                                <div class="card-cafe__box-time">
                                    <span class="card-cafe__time">06:00 - 23:30</span>
                                    <a class="card-cafe__link button" href="#">
                                        <svg class="card-cafe__svg">
                                            <use xlink:href="images/sprite.svg#small-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                    <li class="best-cafe__item swiper-slide">
                        <article class="card-cafe">
                            <img class="card-cafe__img" src="images/burger.card/cafe6.jpg" width="370" height="300"
                                alt="Star Burgers">
                            <div class="card-cafe__box">
                                <h3 class="card-cafe__subtitle card-cafe__subtitle--margin">Star Burgers</h3>
                                <div class="card-cafe__box-time">
                                    <span class="card-cafe__time">09:00 - 21:00</span>
                                    <a class="card-cafe__link button" href="#">
                                        <svg class="card-cafe__svg">
                                            <use xlink:href="images/sprite.svg#small-right"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </li>
                </ul>
                <div class="best-cafe__dots">
                    <div class="best-cafe__pagination swiper-pagination"> </div>
                </div>
            </div>
        </div>
    </div>
</section>