<section class="popular-category">
    <div class="container">
        <h2 class="popular-category__title title">Популярные категории </h2>
        <ul class="popular-category__menu">
            <li class="popular-category__item ">
                <button class="popular-category__btn button" data-filter="all" type="button">
                    <svg class="popular-category__svg">
                        <use xlink:href="images/sprite.svg#burger0"></use>
                    </svg>
                    Бургеры
                </button>
            </li>
            <li class="popular-category__item">
                <button class="popular-category__btn button" data-filter=".category1" type="button">
                    <svg class="popular-category__svg">
                        <use xlink:href="images/sprite.svg#pizza"></use>
                    </svg>
                    Пицца
                </button>
            </li>
            <li class="popular-category__item">
                <button class="popular-category__btn  button" data-filter=".category2" type="button">
                    <svg class="popular-category__svg">
                        <use xlink:href="images/sprite.svg#sandwich"></use>
                    </svg>
                    Сендвичи
                </button>
            </li>
            <li class="popular-category__item">
                <button class="popular-category__btn button" data-filter=".category3" type="button">
                    <svg class="popular-category__svg">
                        <use xlink:href="images/sprite.svg#christmas-dinner"></use>
                    </svg>
                    Азиатская кухня
                </button>
            </li>
            <li class="popular-category__item">
                <button class="popular-category__btn  button" data-filter=".category4" type="button">
                    <svg class="popular-category__svg">
                        <use xlink:href="images/sprite.svg#dish"></use>
                    </svg>
                    Cеты
                </button>
            </li>
        </ul>
        <ul class="popular-category__list d-grid">
            <li class="popular-category__box ">
                <article class="product-card ">
                    <img class="product-card__img" src="images/burger.card/burger1.jpg" width="140" height="140"
                        alt="Чизбургер с листьями салата">
                    <h3 class="product-card__title">Чизбургер с листьями салата</h3>
                    <span class="product-card__price">160
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box ">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger2.jpg" width="140" height="140"
                        alt="Бифбургер">
                    <h3 class="product-card__title">Бифбургер</h3>
                    <span class="product-card__price">190
                        <span class="product-card__price">грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger3.jpg" width="140" height="140"
                        alt="Королевский чизбургер">
                    <h3 class="product-card__title">Королевский чизбургер</h3>
                    <span class="product-card__price">260
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger4.jpg" width="140" height="140"
                        alt="Черный гамбургер">
                    <h3 class="product-card__title">Черный гамбургер</h3>
                    <span class="product-card__price">199
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger5.jpg" width="140" height="140"
                        alt="Чикен бургер">
                    <h3 class="product-card__title">Чикен бургер</h3>
                    <span class="product-card__price">180
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger6.jpg" width="140" height="140"
                        alt="Чизбургер с листьями салата">
                    <h3 class="product-card__title">Чизбургер с листьями салата</h3>
                    <span class="product-card__price">160
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger7.jpg" width="140" height="140"
                        alt="Бифбургер">
                    <h3 class="product-card__title">Бифбургер</h3>
                    <span class="product-card__price">190
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger8.jpg" width="140" height="140"
                        alt="Королевский чизбургер">
                    <h3 class="product-card__title">Королевский чизбургер</h3>
                    <span class="product-card__price">260
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger8.jpg" width="140" height="140"
                        alt="Королевский чизбургер">
                    <h3 class="product-card__title">Черный гамбургер</h3>
                    <span class="product-card__price">199
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>

            <li class="popular-category__box">
                <article class="product-card">
                    <img class="product-card__img" src="images/burger.card/burger10.jpg" width="140" height="140"
                        alt="Чикен бургер">
                    <h3 class="product-card__title">Чикен бургер</h3>
                    <span class="product-card__price">180
                        <span class="product-card__price"> грн.</span>
                    </span>
                    <button class="product-card__btn button" type="button">В корзину</button>
                </article>
            </li>
        </ul>
        <a class="popular-category__link  link border-link" href="#">Показать еще</a>
    </div>
</section>