<section class="download-mobile">
    <div class="container">
        <div class="download-mobile__box">
            <div class="download-mobile__inner">
                <h2 class="download-mobile__title title">
                    Скачайте мобильное приложение
                </h2>
                <p class="download-mobile__text">
                    Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте
                    еду в
                    любом удобном месте.
                </p>
                <ul class="download-mobile__item">
                    <li class="download-mobile__item">
                        <a class="download-mobile__link" href="#">
                            <img class="download-mobile__img" src="images/store-app.jpg" width="120" height="40"
                                alt="скачать приложение для AppStore">
                        </a>
                    </li>
                    <li class="download-mobile__item">
                        <a class="download-mobile__link" href="#">
                            <img class="download-mobile__img" src="images/store-google.jpg" width="120" height="40"
                                alt="скачать приложение для GoolePlay">
                        </a>
                    </li>
                </ul>
            </div>

            <div class="download-mobile__photo" style="background-image: url(images/photo-app.png);">
                <span class="sr-only"> На фотография человек кушает и устанавливает мобильное
                    приложение на телефон.</span>
            </div>
        </div>

    </div>
</section>